
           <div class="menu-inner-shadow"></div>

           <ul class="menu-inner py-1">

             <li class="menu-item">
               <a href="students.php" class="menu-link menu-toggle">
                 <div data-i18n="Layouts">Папкаи куратор</div>
               </a>

               <ul class="menu-sub">
                 <li class="menu-item">
                   <a href="students.php" class="menu-link">
                     <div data-i18n="Fluid">Маълумот оиди донишҷӯёни гурӯҳ</div>
                   </a>
                 </li>

                 <li class="menu-item">
                   <a href="achievements.php" class="menu-link">
                     <div data-i18n="Fluid">Дастовардҳои донишҷӯён</div>
                   </a>
                 </li>

                 <li class="menu-item">
                   <a href="naqshai-talimi.php" class="menu-link">
                     <div data-i18n="Fluid">Нақшаи таълимӣ</div>
                   </a>
                 </li>

                 <li class="menu-item">
                   <a href="hisobot.php" class="menu-link">
                     <div data-i18n="Fluid">Ҳисобот оиди корҳои таълимӣ</div>
                   </a>
                 </li>

               </ul>
             </li>

             <li class="menu-item">
               <a href="progress.php" class="menu-link">
                 <div data-i18n="Layouts">Пешрафт</div>
               </a>
             </li>

             <li class="menu-item">
               <a href="attendance.php" class="menu-link">
                 <div data-i18n="Layouts">Давомот</div>
               </a>
             </li>

             <li class="menu-item">
               <a href="academic-debt.php" class="menu-link">
                 <div data-i18n="Layouts">Руйхати қарздорон</div>
               </a>
             </li>

             <li class="menu-item">
               <a href="curator-hour.php" class="menu-link menu-toggle">
                 <div data-i18n="Layouts">Соати кураторӣ</div>
               </a>

               <ul class="menu-sub">
                 <li class="menu-item">
                   <a href="curator-hour.php" class="menu-link">
                     <div data-i18n="Fluid">Рӯйхати соатҳои кураторӣ</div>
                   </a>
                 </li>
                 <li class="menu-item">
                   <a href="curator-hour-new.php" class="menu-link">
                     <div data-i18n="Fluid">Сохтани соати куратории нав</div>
                   </a>
                 </li>
               </ul>
             </li>

             <li class="menu-item">
               <a href="javascript:void(0);" class="menu-link menu-toggle">
                 <div data-i18n="Layouts">Корҳои ҷамъиятии гурӯҳ</div>
               </a>

               <ul class="menu-sub">
                 <li class="menu-item">
                   <a href="social-activity.php" class="menu-link">
                     <div data-i18n="Fluid">Рӯйхати корҳои ҷамъиятӣ</div>
                   </a>
                 </li>
                 <li class="menu-item">
                   <a href="social-activity-new.php" class="menu-link">
                     <div data-i18n="Fluid">Сохтани ҷамъомади нав</div>
                   </a>
                 </li>
               </ul>
             </li>

             <li class="menu-item">
               <a href="javascript:void(0);" class="menu-link menu-toggle">
                 <div data-i18n="Layouts">Ҳуччатгузорӣ</div>
               </a>

               <ul class="menu-sub">
                 <li class="menu-item">
                   <a href="layouts-without-menu.html" class="menu-link">
                     <div data-i18n="Without menu">Тавсифнома</div>
                   </a>
                 </li>
               </ul>
               <ul class="menu-sub">
                 <li class="menu-item">
                   <a href="layouts-without-menu.html" class="menu-link">
                     <div data-i18n="Without menu">Ҳолнома</div>
                   </a>
                 </li>
               </ul>
             </li>


             <li class="menu-item">
               <a href="vebinar.php" class="menu-link">
                 <div data-i18n="Layouts">Вебинар</div>
               </a>
             </li>



           </ul>
